* {
  margin: 0px;
  padding: 0px;
}
.about_main_section {
  display: flex;
  background-color: rgb(158, 158, 158);
  color: rgb(53, 53, 53);
  text-align: center;
  align-items: center;
  justify-content: center;
  overflow: hidden; /* Hide overflowing content */
  background-image: url(../images/dms1.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.bgImage {
  position: absolute;
  top: 0;
  bottom: 0;
  background-image: url(../images/dms1.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.p10 {
  padding: 2em;
}
.boxBorder {
  position: absolute;
  z-index: 1000;
  backdrop-filter: blur(6px);
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 2em 0px 2em 0px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
  transition: 0.5s;
  transform: translateY(-190px);
  opacity: 0;
}

.animated {
  opacity: 1;
  transform: translateY(0px);
}
.boxBorder:hover {
  cursor: pointer;
}
.heading {
  width: 100%;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 0px;
  align-items: center;
  display: flex;
  flex-direction: column;
  color: rgb(65, 65, 65);
}
.textBox {
  width: 70%;
  padding: 1em;
  text-align: justify;
  box-shadow: 2px 4px 10px rgba(0, 0, 0);
  align-self: center;
}
.heading hr {
  width: 60%;
  size: 1em;
  height: 2px;
  background-color: rgb(65, 65, 65);
  border-radius: 1em;
  margin-top: 0px;
}
.overlay-blur {
  background-color: rgba(133, 24, 0, 0.4);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  backdrop-filter: blur(2px);
}

.about_main_section h1 {
  font-family: Helvetica, sans-serif;
  color: rgb(255, 91, 54);
  font-size: 2rem;
}
/* .carousel-container {
  display: flex;
  position: relative;
  overflow-x: hidden;
  width: 1080px;
  overflow: hidden; 
  border-radius: 2em 0px 2em 0px;
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.6);
  margin: 1em;
}
.carousel-container .carousel-image-wrapper {
  display: flex;
  width: 3240px;
  flex-direction: row;
}
.carousel-container .carousel-image-wrapper .carousel-image-holder {
  width: 1080px; 
  height: 540px;
  animation: scrollCarousel 30s linear infinite;
} */

.red {
  background-color: red;
  background-image: url(../images/1080x1080_1.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.blue {
  background-color: blue;
  background-image: url(../images/1080x1080_2.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.green {
  background-color: green;
  background-image: url(../images/1080x1080_3.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.teamCardContainer {
  display: flex;
  margin: 1em;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.teamCardContainer .card {
  margin: 1em;
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.4);
  align-items: center;
  padding: 1em;
  max-width: 300px;
  width: 300px;
  height: 350px;
  opacity: 0;
  transition: 0.5s;
}
.teamCardContainer .card:hover {
  box-shadow: 1px 4px 6px rgba(255, 91, 54, 0.4);
  color: rgb(255, 91, 54);
  transform: translateY(-4%);
  transition: zoom-in;
  font-weight: 700;
}
#cardName {
  color: black;
}

.teamCardContainer .card .imageHolder {
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  overflow: hidden;
  align-items: center;
  border-radius: 100%;
  border: 3px solid rgb(255, 91, 54);
}
.teamCardContainer .card .imageHolder img {
  width: 150px;
}

.teamCardContainer .card .memberName {
  margin-bottom: 0px;
}

.teamCardContainer .card .memberName b {
  margin: 0px;
}
.teamCardContainer .card .memberName .designation {
  font-size: smaller;
  margin: 0px;
}

.teamCardContainer .card .achievement {
  font-size: small;
  font-style: italic;
}

.dmsProgress {
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
}

.dmsProgress .content {
  width: 90%;
  padding: 1em;
  text-align: justify;
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.4);
  margin: 5%;
  position: relative;
}

.dmsProgress .pContainer {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-evenly;
  text-align: center;
  justify-items: center;
  position: relative;
}

.dmsProgress .chartContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7em;
  flex-direction: row;
  position: absolute;
  width: 100%;
  top: 60%;
  padding: 1em;
  color: aliceblue;
  margin-top: 15px;
}

.dmsProgress #audience {
  background-color: aliceblue;
  padding: 1em;
  border-radius: 1em;
}

.dmsProgress #mediaChart {
  background-color: aliceblue;
  padding: 1em;
  border-radius: 1em;
}

.imageHolderp {
  position: relative;
  display: flex;
  height: 400px;
  max-width: 100%;
  background-image: url(../images/team.jpg);
  margin-bottom: 1em;
}

.pContainer .container {
  width: 100%;
  position: absolute;
}

.content {
  margin: 0;
  width: auto;
}
.contentContainer {
  background-color: aliceblue;
  border-radius: 1em 0px 1em 0px;
  border: 4px solid rgb(255, 91, 54);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
  width: fit-content;
  display: inline-block;
  margin: 2%;
  bottom: 10%;
}

.contentContainer .number {
  font-size: 3em;
}

@keyframes zoomIn {
}
@keyframes scrollCarousel {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-200%);
  }
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

.slide-in-element {
  animation: slideIn 0.7s ease-in;
}

.carousel-container {
  overflow: hidden;
  max-height: 100px;
  position: relative;
  border-radius: 2em 0px 2em 0px;
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.6);
  margin: 1em;
}

.containerN {
  display: flex;
  max-height: 100px;
  overflow: hidden;
  animation: scrollCarousel 15s linear infinite;
}

.cardN {
  width: 100%;
  flex: 0 0 auto;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  border-radius: 2em;
}

.cardN img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
